# Fichiers et dossiers à ignorer
*.log            # Ignorer tous les fichiers .log
node_modules/    # Ignorer le dossier node_modules
.env             # Ignorer les fichiers de configuration environnementale
.o       
.hex
.bin
.map
.out
.elf
